#include <windows.h>
#include "resource.h"

IDI_APP_ICON ICON "app.ico"

1 VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "gog.one"
            VALUE "FileDescription", "Hash Calculator"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "HashCalc.exe"
            VALUE "LegalCopyright", "Copyright (C) 2026 gog.one. All rights reserved."
            VALUE "OriginalFilename", "HashCalc.exe"
            VALUE "ProductName", "Hash Calculator"
            VALUE "ProductVersion", "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDD_MAIN_DIALOG DIALOGEX 0, 0, 388, 240
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Hash Calculator"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    // Tab Control
    CONTROL         "",IDC_TAB_MAIN,"SysTabControl32",0x0,7,5,328,60

    // Buttons (Right of Tab)
    PUSHBUTTON      "Select all",IDC_SELECT_ALL,340,20,40,14
    PUSHBUTTON      "Clear all",IDC_CLEAR_ALL,340,40,40,14

    // --- TAB 1: SHA & MD ---
     GROUPBOX        "SHA",IDC_GROUP_SHA,12,25,82,36,WS_GROUP
    AUTOCHECKBOX    "160",IDC_SHA_160,16,35,24,10
    AUTOCHECKBOX    "224",IDC_SHA_224,42,35,24,10
    AUTOCHECKBOX    "256",IDC_SHA_256,68,35,24,10
    AUTOCHECKBOX    "384",IDC_SHA_384,16,48,24,10
    AUTOCHECKBOX    "512",IDC_SHA_512,42,48,24,10

    GROUPBOX        "MD",IDC_GROUP_MD,98,25,68,36
    AUTOCHECKBOX    "MD2",IDC_MD2,102,35,28,10
    AUTOCHECKBOX    "MD4",IDC_MD4,136,35,28,10
    AUTOCHECKBOX    "MD5",IDC_MD5,102,48,28,10

    GROUPBOX        "MD6",IDC_GROUP_MD6,170,25,152,36
    AUTOCHECKBOX    "128",IDC_MD6_128,174,35,22,10
    AUTOCHECKBOX    "160",IDC_MD6_160,198,35,22,10
    AUTOCHECKBOX    "192",IDC_MD6_192,222,35,22,10
    AUTOCHECKBOX    "224",IDC_MD6_224,246,35,22,10
    AUTOCHECKBOX    "256",IDC_MD6_256,270,35,22,10
    AUTOCHECKBOX    "384",IDC_MD6_384,294,35,22,10
    AUTOCHECKBOX    "512",IDC_MD6_512,174,48,22,10

    // --- TAB 2: SHA-3 & Modern ---
    GROUPBOX        "SHA-3",IDC_GROUP_SHA3,12,25,58,36
    AUTOCHECKBOX    "224",IDC_SHA3_224,16,35,22,10
    AUTOCHECKBOX    "256",IDC_SHA3_256,42,35,22,10
    AUTOCHECKBOX    "384",IDC_SHA3_384,16,48,22,10
    AUTOCHECKBOX    "512",IDC_SHA3_512,42,48,22,10
    
    GROUPBOX        "Keccak",IDC_GROUP_KECCAK,74,25,70,36
    AUTOCHECKBOX    "K224",IDC_KECCAK_224,78,35,30,10
    AUTOCHECKBOX    "K256",IDC_KECCAK_256,112,35,30,10
    AUTOCHECKBOX    "K384",IDC_KECCAK_384,78,48,30,10
    AUTOCHECKBOX    "K512",IDC_KECCAK_512,112,48,30,10

    GROUPBOX        "SHAKE",IDC_GROUP_SHAKE,148,25,42,36
    AUTOCHECKBOX    "S128",IDC_SHAKE_128,152,35,28,10
    AUTOCHECKBOX    "S256",IDC_SHAKE_256,152,48,28,10

    GROUPBOX        "BLAKE",IDC_GROUP_BLAKE,194,25,54,36
    AUTOCHECKBOX    "BLAKE-2b",IDC_BLAKE2B,198,35,43,10
    AUTOCHECKBOX    "BLAKE-2s",IDC_BLAKE2S,198,48,43,10

    GROUPBOX        "Asian",IDC_GROUP_LSH,252,25,76,36
    AUTOCHECKBOX    "LSH-256",IDC_LSH_256,256,35,38,10
    AUTOCHECKBOX    "SM3",IDC_SM3,298,35,26,10
    AUTOCHECKBOX    "LSH-512",IDC_LSH_512,256,48,38,10

    // --- TAB 3: HAVAL & RIPEMD ---
    GROUPBOX        "HAVAL",IDC_GROUP_HAVAL,12,25,126,36
    AUTOCHECKBOX    "128",IDC_HAVAL_128,16,35,22,10
    AUTOCHECKBOX    "160",IDC_HAVAL_160,40,35,22,10
    AUTOCHECKBOX    "192",IDC_HAVAL_192,64,35,22,10
    AUTOCHECKBOX    "224",IDC_HAVAL_224,88,35,22,10
    AUTOCHECKBOX    "256",IDC_HAVAL_256,112,35,22,10
    LTEXT           "Pass:",IDC_STATIC_HAVAL_PASS,16,49,18,8
    AUTOCHECKBOX    "3",IDC_HAVAL_PASS3,38,48,18,10
    AUTOCHECKBOX    "4",IDC_HAVAL_PASS4,60,48,18,10
    AUTOCHECKBOX    "5",IDC_HAVAL_PASS5,82,48,18,10

    GROUPBOX        "RIPEMD",IDC_GROUP_RIPEMD,142,25,60,36
    AUTOCHECKBOX    "128",IDC_RIPEMD_128,146,35,24,10
    AUTOCHECKBOX    "160",IDC_RIPEMD_160,176,35,24,10
    AUTOCHECKBOX    "256",IDC_RIPEMD_256,146,48,24,10
    AUTOCHECKBOX    "320",IDC_RIPEMD_320,176,48,24,10

    // --- TAB 4: Checksum & Others ---
    GROUPBOX        "Checksum",IDC_GROUP_CHECKSUM,12,25,124,36
    AUTOCHECKBOX    "CRC-16",IDC_CRC16,16,35,35,10
    AUTOCHECKBOX    "CRC-32",IDC_CRC32,16,48,35,10
    AUTOCHECKBOX    "CRC-32C",IDC_CRC32C,55,35,39,10
    AUTOCHECKBOX    "CRC-64",IDC_CRC64,55,48,35,10
    AUTOCHECKBOX    "Adler-32",IDC_ADLER32,96,35,35,10

    GROUPBOX        "Others",IDC_GROUP_MISC,140,25,60,36
    AUTOCHECKBOX    "Tiger",IDC_TIGER,144,35,30,10
    AUTOCHECKBOX    "Whirlpool",IDC_WHIRLPOOL,144,48,52,10

    // Input Group
    GROUPBOX        "Take hash of",IDC_GROUP_INPUT,7,70,374,46
    AUTORADIOBUTTON "Text",IDC_RADIO_TEXT,15,83,30,10,WS_GROUP
    EDITTEXT        IDC_EDIT_TEXT,50,81,323,16,ES_AUTOHSCROLL
    AUTORADIOBUTTON "File",IDC_RADIO_FILE,15,100,30,10
    EDITTEXT        IDC_EDIT_FILE,50,98,303,16,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BUTTON_BROWSE,357,98,15,14

    // Result display area
    EDITTEXT        IDC_EDIT_RESULT,7,122,374,90,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY

    // Bottom buttons
    AUTOCHECKBOX    "Stay on top",IDC_CHECK_STAY_ON_TOP,7,222,55,10
    PUSHBUTTON      "&Calculate",IDC_BUTTON_CALCULATE,65,220,50,14
    CONTROL         "",IDC_PROGRESS_CALC,"msctls_progress32",NOT WS_VISIBLE,120,220,80,14
    PUSHBUTTON      "&About...",IDC_BUTTON_ABOUT,273,220,50,14
    PUSHBUTTON      "E&xit",IDC_BUTTON_EXIT,328,220,50,14
END

