#include <windows.h>
#include "resource.h"

IDI_APP_ICON ICON "app.ico"

1 VERSIONINFO
 FILEVERSION 1,2,1,0
 PRODUCTVERSION 1,2,1,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "gog.one"
            VALUE "FileDescription", "Hash Calculator"
            VALUE "FileVersion", "1.2.1.0"
            VALUE "InternalName", "HashCalc.exe"
            VALUE "LegalCopyright", "Copyright (C) 2026 gog.one"
            VALUE "OriginalFilename", "HashCalc.exe"
            VALUE "ProductName", "Hash Calculator"
            VALUE "ProductVersion", "1.2.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDD_MAIN_DIALOG DIALOGEX 0, 0, 388, 240
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Hash Calculator"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    // Tab Control
    CONTROL         "",IDC_TAB_MAIN,"SysTabControl32",0x0,7,5,328,60

    // Buttons (Right of Tab)
    PUSHBUTTON      "Select all",IDC_SELECT_ALL,340,20,40,14
    PUSHBUTTON      "Clear all",IDC_CLEAR_ALL,340,40,40,14

    // Input Group
    GROUPBOX        "Take hash of",IDC_GROUP_INPUT,7,70,374,46
    AUTORADIOBUTTON "Text",IDC_RADIO_TEXT,15,83,30,10,WS_GROUP
    EDITTEXT        IDC_EDIT_TEXT,50,81,323,16,ES_AUTOHSCROLL
    AUTORADIOBUTTON "File",IDC_RADIO_FILE,15,100,30,10
    EDITTEXT        IDC_EDIT_FILE,50,98,303,16,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BUTTON_BROWSE,357,98,15,14

    // Result display area
    EDITTEXT        IDC_EDIT_RESULT,7,122,374,90,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY

    // Separator line
    CONTROL         "",IDC_SEPARATOR_MAIN,"Static",SS_ETCHEDHORZ,7,216,374,1

    // Bottom buttons
    AUTOCHECKBOX    "Stay on top",IDC_CHECK_STAY_ON_TOP,7,222,55,10
    PUSHBUTTON      "&Calculate",IDC_BUTTON_CALCULATE,65,220,50,14
    CONTROL         "",IDC_PROGRESS_CALC,"msctls_progress32",NOT WS_VISIBLE,120,220,80,14
    PUSHBUTTON      "&About...",IDC_BUTTON_ABOUT,273,220,50,14
    PUSHBUTTON      "E&xit",IDC_BUTTON_EXIT,328,220,50,14
END

// ========== Tab View Dialogs ==========

// Tab View 1: SHA & MD
IDD_TAB_VIEW_SHA DIALOGEX 0, 0, 328, 36
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    GROUPBOX        "SHA",IDC_GROUP_SHA,5,5,82,36,WS_GROUP
    AUTOCHECKBOX    "160",IDC_SHA_160,9,15,24,10
    AUTOCHECKBOX    "224",IDC_SHA_224,35,15,24,10
    AUTOCHECKBOX    "256",IDC_SHA_256,61,15,24,10
    AUTOCHECKBOX    "384",IDC_SHA_384,9,28,24,10
    AUTOCHECKBOX    "512",IDC_SHA_512,35,28,24,10

    GROUPBOX        "MD",IDC_GROUP_MD,91,5,68,36
    AUTOCHECKBOX    "MD2",IDC_MD2,95,15,28,10
    AUTOCHECKBOX    "MD4",IDC_MD4,129,15,28,10
    AUTOCHECKBOX    "MD5",IDC_MD5,95,28,28,10

    GROUPBOX        "MD6",IDC_GROUP_MD6,163,5,102,36
    AUTOCHECKBOX    "128",IDC_MD6_128,167,15,22,10
    AUTOCHECKBOX    "160",IDC_MD6_160,191,15,22,10
    AUTOCHECKBOX    "192",IDC_MD6_192,215,15,22,10
    AUTOCHECKBOX    "224",IDC_MD6_224,239,15,22,10
    AUTOCHECKBOX    "256",IDC_MD6_256,167,28,22,10
    AUTOCHECKBOX    "384",IDC_MD6_384,191,28,22,10
    AUTOCHECKBOX    "512",IDC_MD6_512,215,28,22,10
END

// Tab View 2: SHA-3 & Modern
IDD_TAB_VIEW_SHA3 DIALOGEX 0, 0, 328, 36
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    GROUPBOX        "SHA-3",IDC_GROUP_SHA3,5,5,58,36
    AUTOCHECKBOX    "224",IDC_SHA3_224,9,15,22,10
    AUTOCHECKBOX    "256",IDC_SHA3_256,35,15,22,10
    AUTOCHECKBOX    "384",IDC_SHA3_384,9,28,22,10
    AUTOCHECKBOX    "512",IDC_SHA3_512,35,28,22,10

    GROUPBOX        "Keccak",IDC_GROUP_KECCAK,67,5,70,36
    AUTOCHECKBOX    "K224",IDC_KECCAK_224,71,15,30,10
    AUTOCHECKBOX    "K256",IDC_KECCAK_256,105,15,30,10
    AUTOCHECKBOX    "K384",IDC_KECCAK_384,71,28,30,10
    AUTOCHECKBOX    "K512",IDC_KECCAK_512,105,28,30,10

    GROUPBOX        "SHAKE",IDC_GROUP_SHAKE,141,5,42,36
    AUTOCHECKBOX    "S128",IDC_SHAKE_128,145,15,28,10
    AUTOCHECKBOX    "S256",IDC_SHAKE_256,145,28,28,10

    GROUPBOX        "BLAKE",IDC_GROUP_BLAKE,187,5,88,36
    AUTOCHECKBOX    "BLAKE2b",IDC_BLAKE2B,191,15,40,10
    AUTOCHECKBOX    "BLAKE2s",IDC_BLAKE2S,191,28,40,10
    AUTOCHECKBOX    "BLAKE3",IDC_BLAKE3,235,15,38,10
END

// Tab View 3: HAVAL & RIPEMD
IDD_TAB_VIEW_HAVAL DIALOGEX 0, 0, 328, 36
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    GROUPBOX        "HAVAL",IDC_GROUP_HAVAL,5,5,126,36
    AUTOCHECKBOX    "128",IDC_HAVAL_128,9,15,22,10
    AUTOCHECKBOX    "160",IDC_HAVAL_160,33,15,22,10
    AUTOCHECKBOX    "192",IDC_HAVAL_192,57,15,22,10
    AUTOCHECKBOX    "224",IDC_HAVAL_224,81,15,22,10
    AUTOCHECKBOX    "256",IDC_HAVAL_256,105,15,22,10
    LTEXT           "Pass:",IDC_STATIC_HAVAL_PASS,9,29,18,8
    AUTOCHECKBOX    "3",IDC_HAVAL_PASS3,31,28,18,10
    AUTOCHECKBOX    "4",IDC_HAVAL_PASS4,53,28,18,10
    AUTOCHECKBOX    "5",IDC_HAVAL_PASS5,75,28,18,10

    GROUPBOX        "RIPEMD",IDC_GROUP_RIPEMD,135,5,60,36
    AUTOCHECKBOX    "128",IDC_RIPEMD_128,139,15,24,10
    AUTOCHECKBOX    "160",IDC_RIPEMD_160,169,15,24,10
    AUTOCHECKBOX    "256",IDC_RIPEMD_256,139,28,24,10
    AUTOCHECKBOX    "320",IDC_RIPEMD_320,169,28,24,10
END

// Tab View 4: Checksum & Others
IDD_TAB_VIEW_CHECKSUM DIALOGEX 0, 0, 328, 36
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    GROUPBOX        "Checksum",IDC_GROUP_CHECKSUM,5,5,124,36
    AUTOCHECKBOX    "CRC-8",IDC_CRC8,9,15,35,10
    AUTOCHECKBOX    "CRC-16",IDC_CRC16,9,28,35,10
    AUTOCHECKBOX    "CRC-32C",IDC_CRC32C,48,15,39,10
    AUTOCHECKBOX    "CRC-32",IDC_CRC32,48,28,35,10
    AUTOCHECKBOX    "Adler-32",IDC_ADLER32,89,15,35,10
    AUTOCHECKBOX    "CRC-64",IDC_CRC64,89,28,35,10

    GROUPBOX        "Others",IDC_GROUP_MISC,133,5,180,36
    AUTOCHECKBOX    "Tiger",IDC_TIGER,137,15,30,10
    AUTOCHECKBOX    "Whirlpool",IDC_WHIRLPOOL,179,15,44,10
    AUTOCHECKBOX    "LSH-256",IDC_LSH_256,137,28,38,10
    AUTOCHECKBOX    "SM3",IDC_SM3,224,15,26,10
    AUTOCHECKBOX    "LSH-512",IDC_LSH_512,179,28,38,10
    AUTOCHECKBOX    "GOST-94",IDC_GOST94,224,28,38,10
    AUTOCHECKBOX    "GOST-256",IDC_GOST2012_256,265,15,45,10
    AUTOCHECKBOX    "GOST-512",IDC_GOST2012_512,265,28,45,10
END

// About Dialog
IDD_ABOUT_DIALOG DIALOGEX 0, 0, 260, 135
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About..."
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    ICON            IDI_APP_ICON,IDC_ABOUT_ICON,10,10,20,20
    LTEXT           "",IDC_ABOUT_APPNAME,38,10,130,10,SS_NOPREFIX
    RTEXT           "",IDC_ABOUT_VERSION,170,10,83,10,SS_NOPREFIX
    LTEXT           "",IDC_ABOUT_COPYRIGHT,38,22,215,10,SS_NOPREFIX

    GROUPBOX        "Contact information",-1,7,38,246,26
    LTEXT           "Web",IDC_ABOUT_WEB_LABEL,14,49,20,10,SS_SUNKEN | SS_CENTER
    LTEXT           "[",-1,40,49,6,10
    CONTROL         "<a href=""https://github.com/mystique/hash-calc"">github.com/mystique/hash-calc</a>",IDC_ABOUT_WEB_LINK,"SysLink",WS_TABSTOP,46,49,118,10
    LTEXT           "]",-1,143,49,6,10
    LTEXT           "E-mail",IDC_ABOUT_EMAIL_LABEL,180,49,25,10,SS_SUNKEN | SS_CENTER
    LTEXT           "[ N/A ]",IDC_ABOUT_EMAIL_LINK,210,49,35,10

    GROUPBOX        "Greetings to",-1,7,68,246,26
    LTEXT           "Crypto++ team, BLAKE3 authors, and the open source community",IDC_ABOUT_GREETINGS,14,79,235,10

    LTEXT           "Coded in C++",-1,7,100,50,10
    RTEXT           "",IDC_ABOUT_TECH_INFO,60,100,193,10

    // Separator line
    CONTROL         "",IDC_SEPARATOR_ABOUT,"Static",SS_ETCHEDHORZ,7,111,246,1

    PUSHBUTTON      "OK",IDC_ABOUT_OK,203,115,50,14
END

